
#app{
  overflow: hidden;
}
.ta-edit{
  &-header{
    position: relative;
    display: flex;
    // margin-bottom: 12px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);

    &-right{
      margin-left: auto;
    }
  }
  &-logo{
    font-size: 24px;
    font-weight: bolder;
  }
  &-container{
    overflow: hidden;
  }
  &-aside{
    // 侧栏 tab
    &-tabs{
      .el-tabs__nav-scroll{
        padding-left: 12px;
      }
      .el-tabs__header{
        margin-bottom: 8px;
      }
      .el-tab-pane{
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .el-tabs__item{
        padding-top: 8px;
        height: 54px;
      }
    }
    // 侧栏组件库
    &-store{
      height: 100%;
      background-color: #fff;
      overflow: hidden;
      overflow-y: scroll;
      .el-collapse{
        border-top: none;
        border-bottom: none;
      }
      .el-collapse-item{
        padding-left: 8px;
        .el-collapse-item__header{
          padding-left: 6px;

          small{
            margin-top: 4px;
            color: #999;
            font-size: 12px;
          }
          .tab-title{
            font-size: 14px;
            margin: 0 8px 0 6px;
          }
          .tab-icon{
            font-size: 16px;
          }
        }
        .el-collapse-item__content{
          padding: 0 8px 0 6px;
        }
      }
      // 组件库
      .components{
        &-list{
          display: flex;
          flex-wrap: wrap;
        }
        &-item{
          overflow: hidden;
          width: 46%;
          height: 102px;
          margin-bottom: 8px;
          &:hover{
            cursor: move;
            .components-item-img{
              border-color: #409EFF;
            }
            .components-item-text{
              color: #409EFF;
            }
          }
          
          &:nth-child(2n){
            margin-left: 6%;
          }

          &-img{
            height: 60px;
            margin-bottom: 4px;
            border: 1px solid #fff;
            background-color: #ddd;
            transition: all .3s;
          }
          &-text{
            line-height: 150%;
          }
        }
      }

    }
    // 侧栏属性
    &-attr{
      height: 100%;
      background-color: #fff;
      overflow: hidden;
      overflow-y: scroll;

      .el-tabs__nav-scroll{
        padding-left: 12px;
      }
      .el-tabs__content{
        padding-left: 12px;
        padding-right: 12px;
      }
      .sub-pannel{
        margin-left: 16px;
        margin-bottom: 12px;
      }
    }
  }
  // 编辑主体
  &-main{
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrap{
      background-color: rgb(233, 233, 233);
      background-image: linear-gradient(45deg,#f5f5f5 25%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 75%,#f5f5f5 0),linear-gradient(45deg,#f5f5f5 25%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 75%,#f5f5f5 0);
      background-size: 20px 20px;
      background-position: 0 0, 10px 10px;
    }

    &-header{
      display: flex;
      align-items:center;
      height: 54px;
      padding: 6px 12px;
      background-color: #fff;
      .handle-group{
        margin-left: auto;
      }
      .el-link{
        margin-left: 24px;
      }
    }
    &-footer{
      height: 24px;
    }
    &-body{
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
      overflow-x: auto;
    }
  }
}