.drag-item{
  width: 100%;
  height: 100%;

  &.slot-area{
    min-width: 24px;
    min-height: 40px;
    padding: 2px;
    outline: 1px dashed #c9c9c9;
    outline-offset: 0;
  }
  > .item-view{
    .editable-mode & {
      position: relative;
      &::after{
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        z-index: 10;
        display: block;
        content: "";
      }
      &.is-active{
        // box-shadow: inset 0 0 0 2px #40a9ff;
        outline: 2px solid #40a9ff;
        outline-offset: 0;
      }
    }
  }
  > .item-slot.is-active{
    // box-shadow: inset 0 0 0 2px #40a9ff;
    outline: 2px solid #e6a23c;
    outline-offset: 0;
  }
  /deep/ .components-item{
    list-style: none;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ccc;
  }
  /deep/ .sortable-ghost{
    box-sizing: border-box;
    content: '';
    width: 100%;
    height: 8px !important;
    padding: 0;
    border: 2px solid #F56C6C !important;
    font-size: 0;
    background: #F56C6C;
    outline-width: 0 !important;
    overflow: hidden;
  }
}